$primary-normal: #343765;
$primary-dark: #343765;
$primary-light: #3958c9;

$secondary-normal: #090d11;
$secondary-dark: #06090c;
$secondary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #fff;
$white-dark: #edeaef;
$white-normal: #fefbff;

$red-normal: #732c39;
$red-dark: #351c20;
$red-light: #e53959;
