@use 'colors';

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  color: colors.$white-normal;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover {
  i {
    color: colors.$red-light;
    animation: translateY 0.5s infinite alternate;
  }
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}

.header-button {
  border: 1px solid colors.$white-normal;
  padding: 8px 24px;
  color: colors.$white-normal;
  background: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 1px solid colors.$red-light;
  background-color: colors.$red-light;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i {
      margin-top: 16px;
      font-size: 34px;
    }
  }

  .header-logo img {
    width: 160px;
    margin-top: 46px;
  }

  .header-button {
    display: none;
  }
}
